* {
  box-sizing: border-box;
}
.info-location {
  color: whitesmoke;
  display: block;
}
.info-location img {
  border-radius: 20px;
  width: 716;
  max-width: 100%;
  height: 399px;
  max-height: 100%;
}
.info-location p {
  text-align: justify;
}
