* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid whitesmoke;
  border-radius: 30px;
}
.container img {
  width: 100px;
}
.items {
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  align-items: center;
}
.items h3 {
  color: whitesmoke;
}
.items label {
  color: whitesmoke;
}
