* {
  box-sizing: border-box;
}
body {
  background-color: #1e1e1e;
}
header img {
  max-width: 100%;
  width: 396px;
}
nav {
  background-color: #d41212;
  border-radius: 1cm;
  border: 6px solid whitesmoke;
}
.single-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  color: #ffffff;
}
.single-nav li {
  flex: 1 0 auto;
  text-align: center;
  font-size: x-large;
}
.single-nav li a {
  color: #ffffff;
  text-decoration: none;
  font-family: fantasy;
}
.single-nav li a:hover {
  color: #1e1e1e;
  transform: scale(0.8);
}
figure {
  flex-wrap: 0 1 calc(33%-1em);
}
#space {
  background-color: #d41212;
  border-radius: 1cm;
  border: 6px solid whitesmoke;
  height: 72.8px;
}
.social-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: row;
}
.social-menu img {
  max-width: 100%;
  width: 25px;
}
.social-menu li {
  list-style: none;
}
.social-menu a {
  text-decoration: none;
}
.social-menu ul {
  display: flex;
  flex-direction: row;
}
